* {
    background-color: black;
    color: white;
}

#header{  /*This class is tied to the index.html file*/
    text-align: center;
    font-weight: 400;
    color: white;
}

#reci{
    list-style-type: none;
    text-align: center;
}