* {
    background-color: black;
    color: white;
    text-align: center  ;
}

.head {  /*This class is tied to the index.html file*/
    text-align: center;
    font-weight: 400;
    color: white;
}

#reci{
    list-style-type: none;
    text-align: center;
}

.para {
    text-align: center;
}
